.block-cch{
    position:fixed;
    text-align:right;
    width:180px; 
    top:180px; 
    right:10px; 
    background-color:transparent;
    z-index:1000;
}

.region-help {
    position:relative;
}

.block-cch .custom_context_help_title{
    padding:8px 30px 5px 8px;
    cursor:pointer;
    border:1px solid #cccccc;
    background: rgb(255, 255, 255) url('../images/help_icon.gif') no-repeat 40px center;
    display:inline-block;
    font-size:12px;
    line-height:14px;
}

.block-cch .custom_context_help_content{
    padding:6px 6px 6px 6px;
    margin-top:0px;
    background-color: rgba(255, 255, 255, 0.84);
    border:1px solid #ccc;
    display:block;
    position:relative;
    top:-10px;
    left:-300px;
    width:480px;
}
